body {
    margin: 0 auto;
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    #mainColumn {
        width: 92.8%;
        height: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        //left: 7%;
        left: 95px;
        @media(max-width: 768px){
            width: 100%;
            left: 0;
        }
        #solid {
            width: 100%;
            height: 75px;
            background-color: white;
        }        
        #content {
            display: flex;
            flex-direction: column;
            background-color: whitesmoke;
            color: rgba(8, 28, 36, 0.5);
            font-weight: 100;
        }
    }
}


